@font-face {
    font-family: "iconfont";
    /* Project id 2737059 */
    src: url('//at.alicdn.com/t/font_2737059_wo8c369y89.woff2?t=1629125392729') format('woff2'),
        url('//at.alicdn.com/t/font_2737059_wo8c369y89.woff?t=1629125392729') format('woff'),
        url('//at.alicdn.com/t/font_2737059_wo8c369y89.ttf?t=1629125392729') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dagou:before {
    content: "\e603";
}

.icon-back:before {
    content: "\e715";
}

.icon-huidaodingbu:before {
    content: "\e695";
}

.icon-shoucang:before {
    content: "\e60b";
}
