@font-face {
    font-family: "iconfont";
    /* Project id 2737059 */
    src: url('//at.alicdn.com/t/font_2737059_ddy9przejc5.woff2?t=1629442821091') format('woff2'),
        url('//at.alicdn.com/t/font_2737059_ddy9przejc5.woff?t=1629442821091') format('woff'),
        url('//at.alicdn.com/t/font_2737059_ddy9przejc5.ttf?t=1629442821091') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-wodexiaoxi:before {
    content: "\e642";
}

.icon-xiazai:before {
    content: "\f02a";
}

.icon-jifenshangcheng:before {
    content: "\e6dd";
}

.icon-huiyuanka:before {
    content: "\f5df";
}

.icon-tubiaolunkuo-:before {
    content: "\e60d";
}

.icon-weidenglu-touxiang:before {
    content: "\e60c";
}

.icon-kefu:before {
    content: "\e641";
}

.icon-dianpu:before {
    content: "\e632";
}

.icon-dagou:before {
    content: "\e603";
}

.icon-back:before {
    content: "\e715";
}

.icon-huidaodingbu:before {
    content: "\e695";
}

.icon-shoucang:before {
    content: "\e60b";
}
