@font-face {
    font-family: "iconfont";
    /* Project id 2737059 */
    src: url('//at.alicdn.com/t/font_2737059_q1ddwq9tqvf.woff2?t=1629195089692') format('woff2'),
        url('//at.alicdn.com/t/font_2737059_q1ddwq9tqvf.woff?t=1629195089692') format('woff'),
        url('//at.alicdn.com/t/font_2737059_q1ddwq9tqvf.ttf?t=1629195089692') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
    content: "\e641";
}

.icon-dianpu:before {
    content: "\e632";
}

.icon-dagou:before {
    content: "\e603";
}

.icon-back:before {
    content: "\e715";
}

.icon-huidaodingbu:before {
    content: "\e695";
}

.icon-shoucang:before {
    content: "\e60b";
}
